
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>陸上クラブチーム | SiegSports公式サイト</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
<meta name="description" content="関西最強の陸上クラブSiegSports(ジークスポーツ)の公式サイト。最新の試合結果、メンバー紹介、入部・練習参加の問い合わせはこちら。">

<meta name="keywords" content="陸上, クラブチーム, アスリート, トレーニング, 大阪, 短距離, SiegSports, 関西, ジークスポーツ">
<meta name="robots" content="index, follow">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/e5eaae2711.js" crossorigin="anonymous"></script>
<meta name="google-site-verification" content="FnSaH-v02vcwd9GNjgHSOlaCeJWdjSqdSEpYGdqtxks" />

</head>
<body>
    <header class="site-header">
        <div class="header-logo"><a href="/">
            <img src=images/sieqlogo.webp class="logo-icon">
            SiegSports</a>
        </div>
<!-- ハンバーガーアイコン -->
<div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

        <nav class="header-list" id="nav">
            <div class="close-btn" id="closeNav">✕</div>
            <ul>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#member">Member</a>
                </li>
                <li><a href="#news">News</a>
                </li>
                <li><a href="#blog">Blog</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            </nav>

               

    </header>
    <main>
    <div class="top-wrapper">
        <div class="slideshow">
            <div class="slide active" style="background-image: url('images/DSC00568_optimized.webp');"></div>
            <div class="slide" style="background-image: url('images/DSC00635_optimized.webp');"></div>
            <div class="slide" style="background-image: url('images/DSC00657_optimized.webp');"></div>
            <div class="slide" style="background-image: url('images/DSC00726_optimized.webp');"></div>
          </div>
          <div class="container">
              <div class="top-text">
            <h1>SIEG SPORTS</h1>
            <p>昨日の自分を超える<br>喜びをジークで</p>
              </div>
        </div>
    </div>

    <section class="about" id="about" data-aos="fade-up">
        <div class="about-inner">
          <div class="about-image" data-aos="fade-right">
            <img src="images/DSC00909 2.webp" alt="チーム紹介画像">
          </div>
          <div class="about-text" data-aos="fade-left">
            <h2>SIEG SPORTSとは</h2>
            <p>
            「本気で陸上を楽しむ」<br>
            関西最強のクラブチームとして<br>
            トップレベルで活躍する現役アスリート集団です<br>
              
            </p>
          </div>
        </div>
      </section>


      <section class="image-band">
        <div class="image-track">
          <img src="images/DSC00645_optimized.webp" loading="lazy" alt="">
          <img src="images/DSC00678_optimized.webp" loading="lazy" alt="">
          <img src="images/DSC00860_optimized.webp" loading="lazy" alt="">
          <img src="images/DSC00726_optimized.webp" loading="lazy" alt="">
          <img src="images/DSC00645_optimized.webp" loading="lazy" alt="">
          
        </div>
      </section>


      <section class="members" id="member" data-aos="fade-up">
        <h2 class="section-title">Member</h2>
        <div class="member-grid">
          <div class="member-card" data-aos="zoom-in" data-aos-delay="100">
            <div class="tap-overlay">タップで詳細</div>
            <img src="images/DSC00492.webp" loading="lazy" alt="メンバー1">
            <div class="member-info">
            <h3>代表 山口享郎</h3>
            <p>32歳で大学時代の11秒00を大きく更新し10秒66を記録。
                人当たりや人間性を武器にトップ選手から多くのことを学び成長。
            大好きな陸上競技世間に広めるために活動中。</p>
            </div>
          </div>
          <div class="member-card" data-aos="zoom-in" data-aos-delay="200">
            <div class="tap-overlay">タップで詳細</div>
            <img src="images/DSC00182.webp" loading="lazy" alt="メンバー2">
            <div class="member-info">
            <h3>吉田和晃</h3>
            <p>2009世界陸上400mHでBEST16。
            競技を愛し、メンバーから絶大な信頼を築く偉人。これぞ偉人。</p>
            </div>
          </div>
          <div class="member-card" data-aos="zoom-in" data-aos-delay="300">
            <div class="tap-overlay">タップで詳細</div>
            <img src="images/DSC00062.webp" loading="lazy" alt="メンバー3">
            <div class="member-info">
            <h3>高橋祐満</h3>
            <p>現役の日本トップ選手。
                常に成長を求める性格は陸上選手、人としての模範。</p>
            </div>
            </div>
           

            <div class="more-members" style="display: none;">
                <div class="member-card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="tap-overlay">タップで詳細</div>  
                  <img src="images/484b14d5-8586-4843-9177-8b6a48441e80.jpg" loading="lazy" alt="メンバー4">
                    <div class="member-info">
                    <h3>金丸雄三</h3>
                    <p>日本陸上界の400mを牽引し続けた男。日本選手権11連覇、オリンピック3大会連続出場、世界陸上７大会出場など、数々の偉業を成し遂げた誰もが認めるレジェンド。</p>
                    </div>
                </div>
                <div class="member-card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="tap-overlay">タップで詳細</div>  
                  <img src="images/DSC00413.webp" loading="lazy" alt="メンバー5">
                    <div class="member-info">
                    <h3>南翔之</h3>
                    <p>代表の元でトレーニングを行い、400m専門選手ながら、なんと2025年100m 10.86とPBを記録。</p>
                    </div>
                </div>

                <div class="member-card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="tap-overlay">タップで詳細</div>  
                  <img src="images/563014421552038421.jpg" loading="lazy" alt="メンバー6">
                    <div class="member-info">
                    <h3>梶川颯太</h3>
                    <p>当チームでもっとも世界陸上に近い男！100mのPBはなんと10.32！</p>
                    </div>
                </div>

                <div class="member-card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="tap-overlay">タップで詳細</div>  
                  <img src="images/DSC00337.JPG" loading="lazy"alt="メンバー6">
                    <div class="member-info">
                    <h3>海老沼勝輝</h3>
                    <p>走り幅跳びPB:7m75ながら100m10.56で走るフィジカルモンスター！</p>
                    </div>
                </div>
                <div class="member-card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="tap-overlay">タップで詳細</div>  
                  <img src="images/DSC00169.webp" loading="lazy" alt="メンバー7">
                    <div class="member-info">
                    <h3>犬走淳人</h3>
                    <p>自己ベスト更新を目標に代表の元、練習を始め日々タイムを更新中！今年は出るか！？</p>
                    </div>
                </div>

                <!-- ここに追加-->
          </div>     
          </div> 
          
          <div class="show-more-button">
            <button id="toggleMembers">＋ メンバーをもっと見る</button>
          </div> 
        
      </section>


      <section class="news-section" id="news" data-aos="fade-up">
        <h2 class="section-title">News / 試合結果</h2>
        <div class="news-list">
          <% newsList.forEach(news => { %>
            <a href="/news/<%= news.id %>" class="news-item">
              <div class="news-date"><%= news.date.toISOString().slice(0, 10) %></div>
              <div class="news-content"><%= news.title %></div>
            </a>
          <% }) %>
          <a href="news-detail.html" class="news-item">
            <div class="news-date">2025.05.17</div>
            <div class="news-content">東大阪記録会Over30結果</div>
          </a>
          <!-- <a href="#" class="news-item">
            <div class="news-date">2025.03.15</div>
            <div class="news-content">新メンバーを3名迎えました。</div>
          </a>  -->
          <a href="#" class="news-item">
            <div class="news-date">2025.05.28</div>
            <div class="news-content">ウェブサイトをリニューアルしました。</div>
          </a>
        </div>
      </section>


      
        <section class="youtube-section">
            <h2 class="section-title">
              Movie
            </h2>
        <div class="youtube-grid">
          <div class="youtube-item">
            <iframe src="https://www.youtube.com/embed/vbmaSjtpyOc" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="youtube-item">
            <iframe src="https://www.youtube.com/embed/-ADyyp-x_fY" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="youtube-item">
            <iframe src="https://www.youtube.com/embed/Ptki246_u1A" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </section>


      <section class="blog-section" id="blog" data-aos="fade-up">
        <h2 class="section-title">BLOG</h2>
        <p class="section-description">SiegSportsの取り組みや陸上に関する知識を、ブログを通じて発信中！</p>
        <div class="blog-cards">
          <% blogs.forEach(blog => { %>
            <div class="blog-card">
              <a href="/blog/<%= blog.id %>">
                <img src="<%= blog.thumbnail_url %>" alt="<%= blog.title %>" class="blog-thumb">
                <div class="blog-info">
                  <h3><%= blog.title %></h3>
                  <p class="blog-date"><%= blog.created_at.split('T')[0] %></p>
                </div>
              </a>
            </div>
          <% }); %>
        </div>
        <div class="blog-more">
          <a href="/blog" class="btn">もっと見る</a>
        </div>
      </section>
      

      <section class="socials" data-aos="fade-up">
        <h2 class="section-title">Follow Us</h2>
        <p class="section-subtitle">最新情報はSNSでチェック！</p>
        <div class="social-icons">
          <a href="https://www.instagram.com/sieg.sports.t.f?igsh=ZjhpMDhzbW5mdGVo" target="_blank" class="social-item">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
          </a>
          <a href="https://x.com/sportssieg_t?s=21&t=8Dzqqn3gcT2uFaxyQB6nvA" target="_blank" class="social-item">
            <i class="fab fa-x-twitter"></i>
            <span>X (旧Twitter)</span>
          </a>
          <a href="https://www.tiktok.com/@siegsports_?is_from_webapp=1&sender_device=pc" target="_blank" class="social-item">
            <i class="fab fa-tiktok"></i>
            <span>TikTok</span>
          </a>
        </div>
      </section>


      <section class="contact" id="contact" data-aos="fade-up">
        <h2 class="section-title">Contact</h2>
        <p>練習参加希望、入部希望等なんでもお気軽にお問い合わせください。</p>
      
        <div class="contact-wrapper" data-aos="fade-right" data-aos-duration="1000">
          <form class="contact-form" action="https://siegsports.onrender.com/contact" method="POST" data-aos="zoom-in" data-aos-delay="100">
            <!-- フォーム内容 -->
            <div class="form-group">
              <label for="name">お名前</label>
              <input type="text" id="name" name="name" required placeholder="お名前を入力してください">
            </div>
      
            <div class="form-group">
              <label for="email">メールアドレス</label>
              <input type="email" id="email" name="email" required placeholder="メールアドレスを入力してください">
            </div>
      
            <div class="form-group">
              <label for="message">お問い合わせ内容</label>
              <textarea id="message" name="message" rows="5" required placeholder="お問い合わせ内容を入力してください"></textarea>
            </div>
      
            <button type="submit" class="submit-button" data-aos="zoom-out" data-aos-delay="200">送信</button>
          </form>
      
          <div class="line-contact" data-aos="fade-left" data-aos-duration="1500">
            <h3>LINEでのお問い合わせ</h3>
            <p>下記のボタンをクリックして、LINEで直接メッセージを送信できます。</p>
            <a href="https://line.me/R/ti/p/@839zylwi" class="line-button">LINEで問い合わせ</a>
          </div>
        </div>
      </section>
      
      





  
    </main>
    <footer>
    <small>(C)2025 SiegSports</small>
    </footer>

        <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init({
    once: false,      // ← スクロールするたびに再アニメーション
    duration: 1000,   // アニメーション時間（ミリ秒）
    offset: 100       // トリガーが発火するスクロール位置の調整
  });

        const hamburger = document.getElementById('hamburger');
        const nav = document.getElementById('nav');
        const closeBtn = document.getElementById('closeNav');
      
        hamburger.addEventListener('click', () => {
          nav.classList.toggle('active');
        });

        closeBtn.addEventListener('click', () => {
  nav.classList.remove('active');
});

document.querySelectorAll('#nav a').forEach(link => {
  link.addEventListener('click', () => {
    document.getElementById('nav').classList.remove('active');
  });
});



        const slides = document.querySelectorAll('.slide');
let current = 0;

setInterval(() => {
  slides[current].classList.remove('active');
  current = (current + 1) % slides.length;
  slides[current].classList.add('active');
}, 5000); // 5秒ごとに切り替え

document.addEventListener('DOMContentLoaded', () => {
  const targets = document.querySelectorAll('.animate');
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
      }
    });
  });

  targets.forEach(target => observer.observe(target));
});

document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("toggleMembers");
    const moreMembers = document.querySelector(".more-members");

    let isShown = false;

    button.addEventListener("click", () => {
      if (!isShown) {
        moreMembers.style.display = "flex"; // グリッドやフレックスに合わせてね
        button.textContent = "− 閉じる";
        isShown = true;
      } else {
        moreMembers.style.display = "none";
        button.textContent = "＋ メンバーをもっと見る";
        isShown = false;
      }
    });
  });

  
document.querySelector("form").addEventListener("submit", function () {
  const btn = document.getElementById("submitBtn");
  btn.disabled = true;
  btn.textContent = "送信中…";
});



      </script>
</body>
</html>